
.form {
    &-inquiry {
        padding: 40px;
        margin-left: auto;
        max-width: 500px;
        background-color: #fff;

        h2 {
            margin-bottom: 20px;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.4;
            text-align: center;

            span {
                font-size: 3.5rem;
                font-weight: normal;
            }
        }

        input[type="submit"] {
            margin-top: 20px;
            width: 100%;
        }
    }

    &-group {
        margin-bottom: 10px;

        br {
            display: none;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }
    }

    &-control {
        padding: 5px 0;
        border: 0;
        border-bottom: 1px solid #a5d175;
        border-radius: 0;
        outline: 0;
        box-shadow: none;

        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    &-check {
        padding: 0;

        .wpcf7-list-item {
            display: block;
            margin: 0 0 5px;
        }

        input[type="radio"] {
            display: none;

            &:checked ~ .wpcf7-list-item-label:after {
                content: '\2713';
                position: absolute;
                left: 0;
                width: 20px;
                height: 20px;
                line-height: 21px;
                color: #000;
                text-align: center;
            }
        }

        .wpcf7-list-item-label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;

            &:before {
                position: absolute;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 21px;
                background-color: #d7f0bb;
            }
        }
    }
}