body {
    #navbarSupportedContent{
        margin-top: 30px;
    }
    header {
        position: relative;
        margin-bottom: 20px;
        
        .nav-item {
            a {
                padding-bottom: 0px;
            }
            @media(min-width: 768px){
                padding-top: 20px;
                padding-bottom: 15px;
            }
            &.active {
                &:after {
                    content: '';
                    width: 85%;
                    border-bottom: 4px solid #8c231b;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .nav-link  {
            border-bottom: 4px solid $white!important;
            color: $black !important;
        }

        .header_lang-block {
            padding: 0 !important;
            position: relative;
            top: 2.3rem;
            margin-bottom: 1rem;

            .header_btn-lang {
                border: none;
                background: $white !important;
                padding: 0 .5rem;
    
            }
        }

    }
    .inner-banner{
        background-image: url(../image/inner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;

        .block1-container {
            color: $white;
            padding: 0 1rem;

            .paragraph {
                max-width: 800px;
            }

        }
        .container{
            padding: 6rem 0!important;
            color:$white;
        }
    }


}

.navbar{
    &-collapse {
        position: relative;
    }
    &-top{
        width:100%;
        padding-bottom:0;
        margin-top: -100px;
        display: block;
        position: absolute;
        z-index: 1;
        ul{
            float:right;
        }
        &-search{
            float: right;
            margin-top: -9px;
            margin-right: 20px;
            input[type='submit']{
                background-color: $red;
                border: 0;
                padding: 5.5px 12px;
                border-radius: 2px;
                color: $white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
            }
            .back {
                padding: 10px;
                background: #10314c;
              }

            .form-field {
                position: relative;
                i {
                    font-size: 24px;
                    transition: all 0.2s ease-in;
                    color: $yellow;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                }
                input {
                    transition: all 0.2s ease-in;
                    border: none;
                    padding: 5px 10px;
                    width: 0;
                }
                &.active i {
                    color: black;
                    display: block;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
                &.active input {
                    border: 1px solid $black;
                    width: 250px;
                }
                .other {
                    color: white;
                }
            }
        }
    }

}



@media only screen and (min-width: 500px) {
    body {
        header {
            .navbar-brand {
                img {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 998px) {
    body {
        header {
            .header_lang-block {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 767px){
    body {
        header {
            .navbar-brand {
                img {
                    width: 200px;
                }
            }
        }
        .inner-banner{
            .container{
                padding: 3rem 1rem!important;
            }
        }
    }
}