.hero-banner {

  background-image: url(../image/home_page/bg_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;

  .hero-container {
      color: $white;
      padding: 0 1rem;

      .paragraph {
          max-width: 800px;
      }
      .twitter-container{
          z-index: 10000;
      } 
  }
  .headline{
      z-index: 999;
  }
}