$red: #8c231b;
$black: #000000;
$white: #FFFFFF;
$grey: #F8F8F8;
$blue: #064F83;
$yellow: #D8B40B;
$bg-opacity-blue: #064f83dc;
$bg-opacity-lightblue: #064f839e;

.bg-lightblue{
    background-color: #064f831a;
    padding: 72px;
}